@charset "UTF-8";
body {
  background: url(../img/BG\ and\ elements.png) #1B1B20 center/cover no-repeat;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  background-color: #09132F;
  z-index: 99;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.header__logo {
  width: 7.35rem;
  height: 0.75rem;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__headen-menu {
  display: none;
}
.header__dropdown {
  position: relative;
}
.header__dropdown img {
  width: 2rem;
  height: 2rem;
}
.header__dropdown-menu {
  position: absolute;
  display: none;
  top: 105%;
  right: 20%;
  min-width: 10rem;
  padding: 1rem;
  background-color: #2C90F7;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.header__dropdown-menu li {
  margin-bottom: 0.5rem;
  margin-left: 0.3rem;
}
.header__dropdown-btn {
  position: relative;
  display: block;
}
.header__dropdown:hover .header__dropdown-menu {
  display: block;
}

.main-screen {
  margin: 0 auto;
  padding-bottom: 6.1rem;
  padding-top: 9.15rem;
  overflow: hidden;
}
.main-screen__container {
  position: relative;
  display: grid;
  grid-template-columns: 22rem 36rem;
  justify-content: center;
  gap: 1rem;
}
.main-screen__content {
  display: flex;
  flex-direction: column;
}
.main-screen__title {
  margin-bottom: 1.6rem;
  color: #fff;
}
.main-screen__txt {
  margin-bottom: 2.85rem;
  color: #fff;
}
.main-screen__animation {
  display: flex;
  position: relative;
  gap: 2.8rem;
  transform-style: preserve-3d;
  transform: perspective(16cm);
}
.main-screen__img-man {
  position: absolute;
  left: 10rem;
  top: 10rem;
  width: 9.55rem;
  height: 26.5rem;
  -webkit-animation-name: man-step;
          animation-name: man-step;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  z-index: 0;
}
.main-screen__right-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 15.85rem;
  height: 14rem;
  padding: 1rem;
  border-radius: 1.5rem;
  border: 2px solid rgba(255, 255, 255, 0.09);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-animation-name: right-table;
          animation-name: right-table;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.main-screen__left-table {
  position: relative;
  width: 15.85rem;
  height: 14rem;
  padding: 1rem;
  border-radius: 1.5rem;
  border: 2px solid rgba(255, 255, 255, 0.09);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-animation-name: left-table;
          animation-name: left-table;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.main-screen__animation:hover .right-table__chart1 {
  left: 0;
  top: 4rem;
}
.main-screen__animation:hover .right-table__chart2 {
  left: 0;
  top: 2.5rem;
}
.main-screen__bg {
  position: absolute;
  top: -50%;
  left: 40%;
  width: 30%;
  height: 30rem;
  z-index: -1;
}
.main-screen__bit {
  position: absolute;
  top: -50%;
  left: -20%;
  width: 20%;
  height: 20rem;
  z-index: -1;
}

.right-table {
  padding: 1rem;
}
.right-table__content {
  display: flex;
  flex-direction: column;
}
.right-table__charts {
  display: flex;
  position: relative;
}
.right-table__chart1 {
  position: absolute;
  left: 0;
  top: 3rem;
  width: 124px;
  height: 32px;
  transition: all 1s linear;
}
.right-table__chart2 {
  position: absolute;
  left: 0;
  top: 3rem;
  width: 124px;
  height: 32px;
  transition: all 1s linear;
}
.right-table__cercles {
  display: flex;
  gap: 1rem;
}
.right-table__cercles div {
  width: 0.6rem;
  height: 0.6rem;
}
.right-table__title {
  font: 600 0.9rem/1.4 "Montserrat";
  color: #fff;
  max-width: 7.2rem;
  margin-bottom: 2rem;
}
.right-table__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12rem;
  padding: 1rem;
  border: 2px solid #fff;
  border-radius: 1rem;
}
.right-table__box p {
  text-align: center;
  font: 500 0.8rem/1.4 "Montserrat";
  color: #fff;
}
.right-table__box-img {
  width: 4.9rem;
  height: 3.2rem;
  background-color: #2C90F7;
  border-radius: 1rem;
  margin-bottom: 1.6rem;
}
.right-table__box-txt {
  border-bottom: 3px solid #fff;
}

.left-table__title {
  font: 600 0.9rem/1.4 "Montserrat";
  color: #fff;
  max-width: 7.2rem;
  margin-bottom: 7.5rem;
}
.left-table__img {
  position: absolute;
  width: 97%;
  left: 0;
  top: 1.2rem;
}
.left-table__cash {
  display: flex;
  justify-content: space-between;
}
.left-table__cash p {
  color: #fff;
}

.wrap {
  position: relative;
  padding: 5rem;
  margin-bottom: 7rem;
  border-radius: 1rem;
  border: 1px solid black;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background-color: rgba(216, 4, 250, 0.04);
  box-shadow: inset 0px 1px 2px rgba(239, 232, 232, 0.6);
  z-index: 20;
}

.passive-income__holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.passive-income__title {
  font: 700 2rem/1.2 "Montserrat";
  margin-bottom: 0.55rem;
  text-align: center;
  color: #fff;
}
.passive-income__txt {
  font: 400 0.8rem/1.3 "Montserrat";
  margin-bottom: 4.15rem;
  text-align: center;
  color: #fff;
}
.passive-income__card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.7rem;
  margin-bottom: 3rem;
}
.passive-income__card-content {
  max-width: 30rem;
}
.passive-income__card-title {
  position: relative;
  font: 600 1.3rem/1.7 "Montserrat";
  margin-bottom: 2.6rem;
  color: #fff;
}
.passive-income__card-content:hover .card-title1::after {
  width: 90%;
}
.passive-income__card-content:hover .card-title2::after {
  width: 90%;
}
.passive-income__card-txt {
  font: 400 0.8rem/1.35 "Montserrat";
  color: #fff;
}
.passive-income__card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.7rem;
  margin-bottom: 3rem;
}
.passive-income__img {
  position: relative;
  width: 15rem;
  height: 15rem;
}
.passive-income__img:hover .cercle {
  transition: all 1s ease;
  transform: scale(0.8) rotate(-360deg);
}
.passive-income__img:hover .anim__pig {
  transition: all 3s ease;
  transform: scale(1.3) rotate(360deg);
}
.passive-income__img:hover .anim__money {
  transition: all 3s ease;
  transform: scale(1.3) rotate(360deg) translateX(3rem);
}
.passive-income__img:hover .anim__cash {
  transition: all 3s ease;
  transform: scale(1.3) rotate(360deg) translateY(3rem);
}
.passive-income__img:hover .anim__cash2 {
  transition: all 3s ease;
  transform: scale(1.3) rotate(-300deg) translate(3rem);
}
.passive-income__img:hover .anim__red-cercle {
  -webkit-animation: circle 2s linear 0s 1 alternate forwards;
          animation: circle 2s linear 0s 1 alternate forwards;
}
.passive-income__img:hover .anim__green-cercle {
  -webkit-animation: circle 1s linear 0s 1 alternate forwards;
          animation: circle 1s linear 0s 1 alternate forwards;
}
.passive-income__img:hover .anim__blue-cercle {
  -webkit-animation: circle 3s linear 0s 1 alternate forwards;
          animation: circle 3s linear 0s 1 alternate forwards;
}

.card-title1::after {
  content: "";
  width: 10.4rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 120%;
  background-color: #2C90F7;
  transition: all 1s ease;
}

.card-title2::after {
  content: "";
  width: 10.4rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 115%;
  background-color: #2C90F7;
  transition: all 1s ease;
}

.how-it-works__holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
}
.how-it-works__title {
  position: relative;
  text-align: center;
  margin-bottom: 3.2rem;
  color: #fff;
}
.how-it-works__title::after {
  content: "";
  position: absolute;
  top: 3rem;
  left: 40%;
  width: 10.4rem;
  height: 0.2rem;
  background-color: #2C90F7;
}
.how-it-works__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  color: #fff;
}
.how-it-works__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 13.95rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.09);
  background-color: rgba(9, 19, 47, 0.6);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  text-align: center;
  transition: all 0.3s linear;
}
.how-it-works__card:hover {
  transform: scale(1.1);
}

.card_swap {
  position: relative;
}

.card_swap::after {
  content: ">";
  position: absolute;
  top: 50%;
  left: 105%;
  color: #2C90F7;
}

.card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: inset 0px 1px 2px rgba(239, 232, 232, 0.6);
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
  border: 1px solid rgba(255, 255, 255, 0.09);
}
.card__img img {
  width: 2rem;
  height: 2rem;
}
.card__title {
  font: 600 0.8rem/1.12 "Montserrat";
  color: #fff;
}
.card__txt {
  font: 400 0.7rem/0.98 "Montserrat";
  color: #fff;
}

.instruction__holder {
  display: flex;
  flex-direction: column;
}
.instruction__title {
  position: relative;
  margin-bottom: 3.1rem;
  font: 600 1.3rem/1.65 "Montserrat";
  text-align: center;
  color: #fff;
}
.instruction__title::after {
  content: "";
  position: absolute;
  top: 3rem;
  left: 40%;
  width: 10.4rem;
  height: 0.2rem;
  background-color: #2C90F7;
}
.instruction__video {
  width: 100%;
  height: 29.15rem;
  border-radius: 1rem;
  background-color: #000000;
  overflow: hidden;
}

.public-trading__holder {
  display: flex;
  flex-direction: column;
}
.public-trading__title {
  text-align: center;
  font: 700 2em/1.2 "Montserrat";
  margin-bottom: 0.5rem;
}
.public-trading__txt {
  text-align: center;
  font: 400 0.8rem/1.2 "Montserrat";
  margin-bottom: 3.25rem;
}
.public-trading__txt {
  font: 400 0.8rem/1.3 "Montserrat";
  margin-bottom: 4.15rem;
  text-align: center;
}
.public-trading__card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.7rem;
  margin-bottom: 3rem;
}
.public-trading__card1-content {
  max-width: 30rem;
}
.public-trading__card1-title {
  position: relative;
  font: 600 1.3rem/1.7 "Montserrat";
  margin-bottom: 2.6rem;
}
.public-trading__card1-content:hover .card1-title::after {
  width: 90%;
}
.public-trading__card2-content:hover .card2-title::after {
  width: 90%;
}
.public-trading__card-txt {
  font: 400 0.8rem/1.35 "Montserrat";
}
.public-trading__card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.7rem;
  margin-bottom: 3rem;
}
.public-trading__card2-content {
  max-width: 30rem;
}
.public-trading__card2-title {
  position: relative;
  font: 600 1.3rem/1.7 "Montserrat";
  margin-bottom: 2.6rem;
}
.public-trading__img {
  position: relative;
  width: 15rem;
  height: 15rem;
  transform-style: preserve-3d;
}
.public-trading__img:hover .anim__blur, .public-trading__img:hover .anim__blur-2 {
  -webkit-animation-name: blur;
          animation-name: blur;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.public-trading__img:hover .anim__alotmoney {
  transform: rotate(360deg);
}
.public-trading__img:hover .anim__left-top {
  transform: rotate(360deg);
}
.public-trading__img:hover .anim__right-top {
  transform: rotate(360deg);
}
.public-trading__img:hover .anim__button {
  transform: rotate(360deg);
}

.card1-title::after {
  content: "";
  width: 10.4rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 120%;
  background-color: #2C90F7;
  transition: all 1s ease;
}

.card2-title::after {
  content: "";
  width: 10.4rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 120%;
  background-color: #2C90F7;
  transition: all 1s ease;
}

.telegram-traid__container {
  position: relative;
  margin-bottom: 6rem;
}
.telegram-traid__title {
  text-align: center;
  margin-bottom: 0.55rem;
  font: 700 2rem/1.4 "Montserrat";
}
.telegram-traid__txt {
  margin-bottom: 3rem;
  text-align: center;
  font: 400 0.75rem/1.2 "Montserrat";
}
.telegram-traid__holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.55rem;
}
.telegram-traid__img {
  position: relative;
  width: 22.7rem;
  height: 28.85rem;
}
.telegram-traid__cards {
  display: grid;
  grid-template-columns: repeat(2, 16.5rem);
  grid-template-rows: repeat(2, 14.5rem);
  gap: 2.55rem;
  margin-bottom: 2.5rem;
}
.telegram-traid__card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  background-color: rgba(9, 19, 47, 0.6);
}
.telegram-traid__card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1.1rem;
  border-radius: 50%;
  box-shadow: inset 0px 1px 2px rgba(239, 232, 232, 0.6);
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
  border: 1px solid rgba(255, 255, 255, 0.09);
}
.telegram-traid__card-img img {
  width: 2rem;
  height: 2rem;
}
.telegram-traid__card-title {
  font: 600 1rem/1.2 "Montserrat";
  margin-bottom: 1.1rem;
}
.telegram-traid__card-txt {
  font: 400 0.8rem/1.1rem "Montserrat";
}
.telegram-traid__telega {
  position: absolute;
  left: 95%;
  top: 110%;
  width: 3rem;
  height: 3rem;
}
.telegram-traid__input {
  margin-right: 2rem;
  width: 12rem;
  height: 2rem;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
}
.telegram-traid__input::-moz-placeholder {
  color: #fff;
}
.telegram-traid__input:-ms-input-placeholder {
  color: #fff;
}
.telegram-traid__input::placeholder {
  color: #fff;
}
.telegram-traid__submit {
  padding: 1rem 3rem;
  border-radius: 1rem;
  border: none;
  background-color: #2C90F7;
  color: #fff;
  font: 400 0.8rem/1.1rem "Montserrat";
}
.telegram-traid__submit:hover {
  cursor: pointer;
  background-color: #fff;
  color: #2C90F7;
}

.footer {
  padding: 3.75rem 0;
  background-color: #09132F;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.footer__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.footer__copy {
  display: flex;
  justify-content: space-between;
}
.footer__copy div {
  max-width: 11.75rem;
}
.footer__copy p {
  font: 400 0.6rem/0.75 "Montserrat";
}

.anim__pig {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 2rem;
  top: 2rem;
}
.anim__money {
  width: 6.7rem;
  height: 3.85rem;
  position: absolute;
  left: 0;
  top: 1rem;
}
.anim__cash {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 1rem;
}
.anim__cash2 {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 3rem;
  top: 0.5rem;
}
.anim__computor {
  width: 10rem;
  height: 7rem;
  position: absolute;
  left: 2.8rem;
  top: 5rem;
}
.anim__chart1 {
  width: 8.15rem;
  height: 2.5rem;
  position: absolute;
  left: 3.5rem;
  top: 6rem;
}
.anim__chart2 {
  width: 8.15rem;
  height: 2.5rem;
  position: absolute;
  left: 3.5rem;
  top: 7rem;
}
.anim__chart3 {
  width: 8.15rem;
  height: 2.5rem;
  position: absolute;
  left: 3.5rem;
  top: 8rem;
}
.anim__tangle {
  width: 4.25rem;
  height: 4.25rem;
  position: absolute;
  left: 1rem;
  top: 3.6rem;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
  border: 1px solid rgba(255, 255, 255, 0.09);
}
.anim__red-cercle {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 10rem;
  top: 3.6rem;
  border-radius: 50%;
  background-color: red;
}
.anim__blue-cercle {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 10rem;
  top: 13rem;
  border-radius: 50%;
  background-color: blue;
}
.anim__green-cercle {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 1rem;
  top: 10rem;
  border-radius: 50%;
  background-color: green;
}
.anim__blur {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 70%;
  width: 4.8rem;
  height: 6.1rem;
  background-color: rgba(44, 144, 247, 0.4);
  border-radius: 0.1rem;
  box-shadow: inset 0px 1.18081px 2.36162px rgba(239, 232, 232, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transform: rotateY(-20deg) rotateX(10deg) translateZ(30px);
}
.anim__blur-circle {
  margin-top: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
}
.anim__blur-2 {
  position: absolute;
  top: 75%;
  left: 15%;
  width: 4.5rem;
  height: 2rem;
  border-radius: 0.1rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: rgba(44, 144, 247, 0.4);
  box-shadow: inset 0px 1.18081px 2.36162px rgba(239, 232, 232, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transform: rotateY(-20deg) rotateX(10deg) translateZ(30px);
}
.anim__alotmoney {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 95%;
  transition: all 3s linear;
}
.anim__left-top {
  width: 5rem;
  height: 5rem;
  transition: all 3s linear;
}
.anim__button {
  width: 5rem;
  height: 5rem;
  margin-top: 90%;
  transition: all 3s linear;
}
.anim__right-top {
  width: 5rem;
  height: 5rem;
  transition: all 3s linear;
}
.anim__telephone {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 10%;
  height: 20%;
  -webkit-animation-name: levitation;
          animation-name: levitation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.anim__coin-1 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 10%;
  height: 10%;
  -webkit-animation-name: levitation;
          animation-name: levitation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.anim__coin-2 {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 10%;
  height: 10%;
  -webkit-animation-name: levitation;
          animation-name: levitation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.bg_circle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-animation-name: circle;
          animation-name: circle;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  z-index: 1;
}

.circle1 {
  position: absolute;
  background-color: red;
  top: 40%;
  left: 40%;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

.circle2 {
  position: absolute;
  background-color: blue;
  top: 60%;
  left: 20%;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.circle3 {
  position: absolute;
  background-color: #09132F;
  top: 20%;
  left: 60%;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.circle4 {
  position: absolute;
  background-color: red;
  top: 30%;
  left: 80%;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}

.circle5 {
  position: absolute;
  background-color: violet;
  top: 5%;
  left: 8%;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.circle6 {
  position: absolute;
  background-color: #2C90F7;
  top: 93%;
  left: 85%;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

@-webkit-keyframes circle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes man-step {
  0% {
    left: 10rem;
    top: 10rem;
  }
  50% {
    left: 13rem;
    top: 8rem;
  }
  100% {
    left: 10rem;
    top: 10rem;
  }
}
@keyframes man-step {
  0% {
    left: 10rem;
    top: 10rem;
  }
  50% {
    left: 13rem;
    top: 8rem;
  }
  100% {
    left: 10rem;
    top: 10rem;
  }
}
@-webkit-keyframes right-table {
  0% {
    transform: rotateY(-5deg);
  }
  50% {
    transform: rotateY(-40deg);
  }
  100% {
    transform: rotateY(-5deg);
  }
}
@keyframes right-table {
  0% {
    transform: rotateY(-5deg);
  }
  50% {
    transform: rotateY(-40deg);
  }
  100% {
    transform: rotateY(-5deg);
  }
}
@-webkit-keyframes left-table {
  0% {
    transform: rotateY(5deg);
  }
  50% {
    transform: rotateY(40deg);
  }
  100% {
    transform: rotateY(5deg);
  }
}
@keyframes left-table {
  0% {
    transform: rotateY(5deg);
  }
  50% {
    transform: rotateY(40deg);
  }
  100% {
    transform: rotateY(5deg);
  }
}
@-webkit-keyframes blur {
  0% {
    transform: translateY(0) rotateY(-20deg) rotateX(10deg) translateZ(30px);
  }
  50% {
    transform: translateY(1rem) rotateY(-20deg) rotateX(10deg) translateZ(30px);
  }
  100% {
    transform: translateY(0) rotateY(-20deg) rotateX(10deg) translateZ(30px);
  }
}
@keyframes blur {
  0% {
    transform: translateY(0) rotateY(-20deg) rotateX(10deg) translateZ(30px);
  }
  50% {
    transform: translateY(1rem) rotateY(-20deg) rotateX(10deg) translateZ(30px);
  }
  100% {
    transform: translateY(0) rotateY(-20deg) rotateX(10deg) translateZ(30px);
  }
}
@-webkit-keyframes levitation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes levitation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@media (min-width: 1300px) {
  .main-screen__container {
    grid-template-columns: 22rem 36rem;
  }
  .container {
    max-width: 85%;
    padding: 1rem;
  }
  .holder {
    width: 50.65rem;
    padding: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 1300px) {
  html {
    font-size: 16px;
  }
  .main-screen__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: none;
    padding: 0.5rem;
    margin: 0 auto;
  }
  .holder {
    width: 95%;
    padding: 0.5rem;
    margin: 0 auto;
  }
  .header__container {
    display: flex;
    justify-content: space-around;
  }
  .header__headen-menu {
    display: block;
  }
  .header__menu {
    display: none;
  }
  .main-screen__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .main-screen__content {
    justify-content: center;
    align-items: center;
  }
  .main-screen__button {
    padding: 1rem 3rem;
    font: 700 2rem/1.2rem "Montserrat";
  }
  .main-screen__animation {
    transform: perspective(16cm) scale(0.7);
  }
  .passive-income__card1 {
    display: flex;
    flex-direction: column;
  }
  .passive-income__card-content {
    text-align: center;
  }
  .passive-income__card2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .passive-income__card-content:hover .card-title1::after {
    width: 100%;
    left: 0;
  }
  .passive-income__card-content:hover .card-title2::after {
    width: 100%;
    left: 0;
  }
  .card-title1::after {
    content: "";
    width: 10.4rem;
    height: 0.2rem;
    position: absolute;
    left: 30%;
    top: 120%;
    background-color: #2C90F7;
    transition: all 1s ease;
  }
  .card-title2::after {
    content: "";
    width: 10.4rem;
    height: 0.2rem;
    position: absolute;
    left: 30%;
    top: 115%;
    background-color: #2C90F7;
    transition: all 1s ease;
  }
  .how-it-works__cards {
    display: flex;
    flex-direction: column;
  }
  .how-it-works__title::after {
    content: "";
    position: absolute;
    top: 3rem;
    left: 30%;
    width: 10.4rem;
    height: 0.2rem;
    background-color: #2C90F7;
  }
  .card_swap::after {
    content: "↓";
    position: absolute;
    top: 103%;
    left: 50%;
    color: #2C90F7;
  }
  .instruction__title::after {
    content: "";
    position: absolute;
    top: 105%;
    left: 30%;
    width: 10.4rem;
    height: 0.2rem;
    background-color: #2C90F7;
  }
  .public-trading__card1 {
    display: flex;
    flex-direction: column;
  }
  .public-trading__card2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .public-trading__card1-content:hover .card1-title::after {
    width: 100%;
    left: 0;
  }
  .public-trading__card2-content:hover .card2-title::after {
    width: 100%;
    left: 0;
  }
  .card1-title::after {
    content: "";
    width: 10.4rem;
    height: 0.2rem;
    position: absolute;
    left: 30%;
    top: 120%;
    background-color: #2C90F7;
    transition: all 1s ease;
  }
  .card2-title::after {
    content: "";
    width: 10.4rem;
    height: 0.2rem;
    position: absolute;
    left: 30%;
    top: 120%;
    background-color: #2C90F7;
    transition: all 1s ease;
  }
  .telegram-traid__holder {
    flex-direction: column;
  }
  .telegram-traid__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
  }
  .telegram-traid__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .telegram-traid__form input {
    margin-bottom: 1rem;
  }
  .wrap {
    padding: 0.5rem;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .footer__logo {
    max-width: 30%;
    margin-bottom: 0.5rem;
  }
  .footer__menu {
    display: flex;
    flex-direction: column;
  }
  .footer__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__copy p {
    margin-bottom: 0.3rem;
  }
}/*# sourceMappingURL=style.css.map */